@font-face {
    font-family: myFirstFont;
    src: url('../assets/fonts/Poppins-Bold.ttf');
}

* {
    color: #5e646d;
}

.container-first {
    background: linear-gradient(rgba(51, 255, 208, 0.9), rgba(4, 255, 209, 0.68)), url(../assets/images/background.jpg);
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 10% 23% 10% 23%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

.wrap-form {
    width: 790px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 60px 55px 90px 55px;
    justify-content: center;
}

.submit-button {
    background: #484747;
    border: 1px solid beige;
    margin-top: 4%;
    margin-left: 31%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 244px;
    height: 50px;
    font-family: myFirstFont;
    font-size: 20px;
    color: white;
}

.submit-button:hover {
    background: #00ffaf;
}

.heading {
    font-family: myFirstFont;
    font-size: 30px;
}

.form-control {
    font-family: myFirstFont;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #a4fdd6;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #93ffe16e;
    background-color: white;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #a4fdd6;
    border-color: #a4fdd6;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #93ffe16e;
    color: black;
}

.btn-primary:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #93ffe16e;
}

.btn-primary:hover {
    color: black;
    border-color: #a4fdd6;
}

#current-network {
    color: #8b0000;
}

.align-self-end {
    align-self: flex-end !important;
    margin-top: -6%;
    margin-bottom: 3%;
    margin-left: 153%;
}

.metamask-text {
    color: #5fd6b9;
    vertical-align: sub;
}

.material-icons.metamask-span {
    vertical-align: middle;
}
.material-icons.info{
    position: absolute;
    margin-top: -5%;
    margin-left: 97%;
}
.container-second{
    background:#484747;
    height: auto;
    padding: 10%;
}
.info-content{
   justify-content: center;
    color: white;
}
.list-group-item{
    background: transparent !important;
    color: white;
    transition-delay: 4s !important;
}


.info-heading{
    color: #00ffaf;
}
.info-main{
    margin-top: -25px;
    margin-bottom: 1rem;
    margin-left: 8%;
    color: white;
}
.container-third{
    background: #1f1f1f;
    color: white;
    justify-content: center;
}
.copyright-row{
    padding-top: 2%;
    justify-content: center;

}
.copyright{
    color: white;
}
